body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Roboto', 'Titillium Web', arial, sans-serif;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.progress {
  background-color: $subtle-gray;
  border: 0 solid $white;
  height: .5rem;
  margin-bottom: 0;
  margin-top: .65rem;
  padding: 0;

  .meter {
    background-color: $primary-color;
  }
}

.hidden {
  display: none;
}

h4 {
  color: lighten($text-color, 10%);

  .fa {
    margin-right: $margin-regular;
  }
}
