button.button {
  @include box-shadow($shallow-shadow);
  background-color: $primary-color;
  font-size: .8rem;
  padding: .7rem 1rem;
  text-transform: uppercase;

  &:hover {
    @include box-shadow($medium-shadow);
    background-color: lighten($primary-color, 5%);
  }

  &.button-form {
    margin-top: 1.2rem;
  }
}

.icon-button {
  @include reset-border-styles();
  @include reset-spacing();
  @include opacity(.8);
  background-color: transparent;
  color: inherit;
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    @include reset-border-styles();
    @include reset-spacing();
    @include opacity(1);
    background-color: transparent;
    color: inherit;
  }
}

