button.button {
  background-color: $primary-color;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    @include box-shadow($shallow-shadow);
    background-color: lighten($primary-color, 5%);
  }

  &.small {
    font-size: .7rem;
    padding: .8rem 1rem;
  }

  &.button-form {
    margin-top: 1.2rem;
  }
}

