$white: #fff;
$black: #000;
$gray: darken($white, 50%);
$light-gray: darken($white, 25%);
$subtle-gray: darken($white, 12.5%);
$barely-white: darken($white, 4%);

$primary-color: #0090ff;
$positive-color: #16e067;
$negative-color: #ec1721;
$warning-color: #f39c12;

$primary-color-isii-compact: #0090ff;
$primary-color-isii: #fa1333;

$text-color: #3a3a3a;
$on-dark-text-color: #fafafa;
$link-color: saturate(lighten($primary-color, 7.5%), 15%);
$background-color: #465267;
