.grid {
  display: block;
  margin: 0;
  padding: 0;
}

.grid-row {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid $subtle-gray;


  &:first-child {
    border-top: 1px solid $subtle-gray;
  }
}

.grid-body-row {
  &:nth-child(1) {
    .grid-cell {
      background-color: lighten($subtle-gray, 10%);
    }
  }
}

.grid-cell {
  border-right: 1px solid  $subtle-gray;
  height: 1.8rem;
  line-height: 2rem;
  font-size: 0.9rem;

  &:first-child {
    border-left: 1px solid $subtle-gray;
  }
}

.grid-heading-row {
  .grid-cell {
    height: 2rem;
    line-height: 2.1rem;
    background-color: lighten($subtle-gray, 7.5%);

    &:hover {
      background-color: lighten($subtle-gray, 10%);
    }

  }
}