.grid {
  display: block;
  margin: 0;
  padding: 0;
}

.grid-row {
  border-bottom: 1px solid $subtle-gray;
  display: block;
  margin: 0;
  padding: 0;


  &:first-child {
    border-top: 1px solid $subtle-gray;
  }
}

.grid-body-row {
  &:nth-child(even) {
    .grid-cell {
      background-color: lighten($subtle-gray, 10%);
    }
  }
}

.grid-cell {
  border-right: 1px solid  $subtle-gray;
  font-size: .9rem;
  height: 1.8rem;
  line-height: 2rem;

  &:first-child {
    border-left: 1px solid $subtle-gray;
  }

  .editable-cell {
    .fa {
      position: absolute;
      right: $margin-regular;
      top: 1px;
    }
  }

  input[type="text"] {
    @include box-shadow(0 0 0 $white);
    @include border-radius(0);
    background-color: lighten($subtle-gray, 5%);
    border: 0 solid $white;
    height: 100%;
    left: 0;
    padding-left: 1rem;
    padding-right: 2rem;
    position: absolute;
    right: 0;

    &:hover,
    &:focus {
      @include box-shadow(0 0 0 $white);
      @include border-radius(0);
      background-color: lighten($subtle-gray, 6%);
    }
  }
}

.grid-heading-row {
  .grid-cell {
    background-color: lighten($subtle-gray, 7.5%);
    height: 2rem;
    line-height: 2.1rem;

    &:hover {
      background-color: lighten($subtle-gray, 10%);
    }

  }
}
