.grid {
  display: block;
  margin: 0;
  padding: 0;
}

.grid-row {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid $light-grey;


  &:first-child {
    border-top: 1px solid $light-grey;
  }
}

.grid-cell {
  border-right: 1px solid  darken($white, 5%);
  height: 1.8rem;
  line-height: 1.8rem;

  &:last-child {
    border-right: 0 solid $white;
  }
}

.grid-heading-row {
  .grid-cell {
    height: 2rem;
    line-height: 2rem;
    background-color: darken($white, 5%);
  }
}