.notifications {
  background-color: $primary-color-isii;
  border-radius: 99px;
  box-shadow: $medium-shadow;
  display: block;
  font-size: .8rem;
  font-weight: bold;
  padding: .1rem .3rem;
  position: absolute;
  right: -.5rem;
  top: -.6rem;
}

.fa {
  &.clickable {
    opacity: 1;

    &:hover {
      opacity: .8;
    }
  }

  &.fa-inline {
    margin-top: .4rem;
  }
}
