input[type="text"] {
  background-color: $white;
  @include border-radius(2px);
  border-color: lighten($light-gray, 4%);
  @include box-shadow($shallow-shadow);

  &:focus {
    background-color: $barely-white;
    border-color: lighten($light-gray, 4%);
    @include box-shadow($medium-shadow);
  }
}

select {
  @include border-radius(2px);
  border-color: lighten($light-gray, 4%);
  @include box-shadow($shallow-shadow);
}
