input[type="text"] {
  @include border-radius(2px);
  @include box-shadow($subtle-shallow-shadow);
  background-color: $white;
  border-color: lighten($light-gray, 4%);

  &:focus {
    @include box-shadow($subtle-medium-shadow);
    background-color: $barely-white;
    border-color: lighten($light-gray, 4%);
  }
}

select {
  @include border-radius(2px);
  @include box-shadow($subtle-shallow-shadow);
  border-color: lighten($light-gray, 4%);
}
