.container {
  bottom: 0;
  left: 0;
  padding-top: $top-bar-height;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  max-width: 2000px;
  padding: $margin-regular;

  @include mobile-down() {
    padding: $margin-regular $margin-small;
  }

  @include mobile-down() {
    padding: $margin-small 0;
  }
}

.off-canvas-wrap,
.inner-wrap {
  height: 100%;
  z-index: $z-index-main-menu;
}

.inner-wrap {
  overflow: auto;
}

//Set gutter width
@media only screen {
  .row .columns,
  .row .column {
    padding-left: .6rem;
    padding-right: .6rem;
  }
}
