.left-off-canvas-menu {
  @include reset-border-styles();
  background-color: darken($white, 1%);
  box-shadow: $hard-deep-shadow;
  transform: translate3d(-105%, 0, 0);
  z-index: $z-index-main-menu;
}

.offcanvas-overlap .left-off-canvas-menu {
  z-index: $z-index-main-menu;
}

.main-menu {
  .side-nav {
    color: lighten($gray, 10%);
    margin-top: $margin-small;

    li {
      @include reset-spacing();

      a:not(.button) {
        @include vertical-center-height(3.2rem);
        color: $gray;
        font-weight: bold;
        padding: 0 1.2rem;

        &:hover,
        &:focus,
        &:active {
          color: $gray;
        }
      }
    }
  }
}

.move-right > .inner-wrap {
  transform: translate3d(0, 0, 0);
}

.move-right .left-off-canvas-menu {
  transform: translate3d(0, 0, 0);
}

.move-right .exit-off-canvas {
  z-index: $z-index-exit-menu-link;
}

.offcanvas-overlap .exit-off-canvas {
  background-color: rgba(55, 55, 55, .075);
  z-index: $z-index-exit-menu-link;

  &:hover {
    background-color: rgba(55, 55, 55, .05);
  }
}
