$margin-base: 1rem;
$margin-regular: $margin-base;
$margin-small: $margin-base/2;
$margin-large: $margin-base*2;

$gutter-width: .5rem;

$top-bar-height: 3.5rem;

$shadow-color: rgba($black, .2);
$subtle-shadow-color: rgba($black, .1);
$hard-shadow-color: rgba($black, .3);

$shallow-shadow: 0 1px 3px $shadow-color;
$medium-shadow: 0 2px 5px $shadow-color;
$deep-shadow: 0 3px 7px $shadow-color;

$subtle-shallow-shadow: 0 1px 3px $subtle-shadow-color;
$subtle-medium-shadow: 0 2px 5px $subtle-shadow-color;
$subtle-deep-shadow: 0 3px 7px $subtle-shadow-color;

$hard-shallow-shadow: 0 1px 3px $hard-shadow-color;
$hard-medium-shadow: 0 2px 5px $hard-shadow-color;
$hard-deep-shadow: 0 3px 7px $hard-shadow-color;

$z-index-top-bar: 100;
$z-index-main-menu: 99;
$z-index-exit-menu-link: 98;
