$setting-height: 3.2rem;

.setting {
  padding: 0 $margin-regular;

  button {
    margin: 0;
  }

  .switch {
    margin-top: .3rem;
  }
}

.setting-column {
  @include vertical-center-height($setting-height);
  font-size: .95rem;
  max-height: $setting-height;
}

.setting-value {
  font-weight: bold;
}
