$setting-height: 2.8rem;

.setting {
  padding: 0 $margin-regular;
}

.setting-value,
.setting-description {
  @include vertical-center-height($setting-height);
}

.setting-value {
  font-weight: bold;
}
