.side-nav {
  padding-top: 0;

  i {
    margin-right: $margin-small;
  }

  .side-nav-item {
    a:not(.button) {
      color: darken($on-dark-text-color, 10%);
      font-weight: bold;

      &:hover,
      &:focus,
      &:active {
        color: darken($on-dark-text-color, 20%);
      }
    }

    .active:not(.button) {
      background-color: $subtle-gray;
      color: $link-color;

      &:hover,
      &:focus,
      &:active {
        background-color: $subtle-gray;
        color: $link-color;
      }
    }
  }
}
