.slab {
  background-color: $white;
  @include box-shadow($shallow-shadow);
  @include border-radius(2px);
  padding: $margin-regular 0;
  margin-bottom: $margin-regular;
}

.slab-narrow {
  padding: $margin-small 0;
}