.slab {
  @include border-radius(2px);
  @include box-shadow($shallow-shadow);
  background-color: $white;
  padding: $margin-regular 0;
}

.row .slab {
  margin-bottom: $margin-regular;
}

.slab-narrow {
  padding: $margin-small 0;
}
