.isii-theme {
  .top-bar {
    background-color: $primary-color-isii;
  }
}

.isii-compact-theme {
  .top-bar {
    background-color: $primary-color-isii-compact;
  }
}

.fixed,
.top-bar {
  z-index: $z-index-top-bar;
}

.top-bar-section li:hover:not(.has-form) a:not(.button) {
  background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  @include reset-spacing();
  background: transparent;

  &:hover {
    background: transparent;
  }
}

.top-bar-section .info-area li > a {
  @include reset-border-styles();
  @include reset-spacing();
  background: transparent;
  display: inline-block;
  font-size: 1em;
  width: auto;
}

.top-bar {
  @include box-shadow($deep-shadow);
  @include vertical-center-height($top-bar-height);
  background-color: $primary-color;
  color: $white;

  .menu-button-container {
    @include vertical-center-height($top-bar-height);
    float: left;
    height: $top-bar-height;
    margin-left: $margin-regular + $margin-small;
  }

  .logo-container {
    float: left;
    height: $top-bar-height;
    padding: $margin-small $margin-regular;
  }

  .logo {
    height: 100%;
    max-width: 100%;
  }

  .info-area {
    margin-right: $margin-small;
  }

  .info-item {
    @include vertical-center-height($top-bar-height);
    margin-right: $margin-regular;
  }

  i {
    margin-right: $margin-small;
  }

  ul {
    background-color: transparent;

    li {
      background-color: transparent;
    }
  }
}
