$white: #ffffff;
$text-color: #333;
$grey: darken($white, 50%);
$light-grey: darken($white, 25%);
$background-color: darken($white, 5%);

$margin-base: 1rem;
$margin-regular: $margin-base;
$margin-small: $margin-base/2;